<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}"><img class="bi me-2" width="70" src="/uploads/logo-sb.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Page d'accueil</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_trick_new') }}">Ajouter une figure</a>
                </li>
                {% endif %}

            </ul>
            <div class="d-flex gap-2">
                {% if app.user %}
                <a class="btn btn-secondary"  type="button" href="{{ path('logout') }}">Deconnexion</a>
                <a href="" class="logo-user"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                {% else %}
                <a href="{{ path('login') }}" class="btn btn btn-outline-info" type="button">Connexion</a>
                <a class="btn btn-info" type="button">Inscription</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>