{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <h1>Trick</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>NameTrick</th>
                <td>{{ trick.nameTrick }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ trick.description }}</td>
            </tr>
            <tr>
                <th>Thumbnail</th>
                <td><img src="/uploads/{{ trick.thumbnail }}" alt="{{ trick.nameTrick }}">{{ trick.thumbnail }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                {% for media in trick.medias %}
                <th>Média</th>
                <td><img src="/uploads/{{ media.path }}" alt="">{{ media.path }}</td>
                {% endfor %}
            </tr>




        </tbody>
    </table>

    <a href="{{ path('app_trick_index') }}">back to list</a>

    <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">edit</a>

    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}
